@use '../../components/buttons' as button;
@use '../../utilities/responsive';

.destinations {
    background-color: var(--color-light);
    display: grid;
    grid-template-columns: minmax(3rem, 1fr) [inner-start] minmax(0, 67.5rem) [inner-end] minmax(3rem, 1fr);
    
    &__inner {
        grid-column: inner;
    }

    // Header

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--section-gap) 0 14rem 0;

        @include responsive.max(45rem) {
            padding-bottom: 8rem;
        }
    }

    &__title {
        font-size: clamp(var(--font-size-4), 6vw, var(--font-size-6));
        color: var(--color-dark);
        margin-bottom: 1.5rem;

        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 10vw;
            background-color: var(--color-dark);
            margin: 1.5rem auto;
        }

    }

    &__text {
        max-width: 25rem;
        width: 100%;
        font-size: var(--font-size-2);
        font-size: clamp(var(--font-size-1), 3vw, var(--font-size-2));
        color: var(--color-dark);
        text-align: center;
        line-height: var(--line-height);
        margin-top: 0;
    }

    // Contents

    &__content {
        position: relative;
        padding-bottom: 14rem;
        
        &-1 header,
        &-3 header {       
        
            &::after {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: var(--color-dark);
                margin-left: 2rem;
            }

            @include responsive.max(45rem) {
            
                &::before,
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: var(--color-dark);
                    margin: 2rem 2rem;
                }
                        
            }
            
        }

        &-2 header {
            right: 0;

            &::before {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: var(--color-dark);
                margin-right: 2rem;
            }

            @include responsive.max(45rem) {
            
                &::before,
                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    width: 100%;
                    background-color: var(--color-dark);
                    margin: 2rem 2rem;
                }
                        
            }

        }

    &__header {
        font-size: var(--font-size-4);
        font-family: var(--font-serif);
        white-space: nowrap;
        display: flex;
        align-items: center;
            
        @include responsive.max(45rem) {
            font-size: clamp(var(--font-size-2), 5vw, var(--font-size-3));
            font-weight: 500;
            justify-content: center;
        }
    }

        &__link {
            @include button.default($color: var(--color-dark), $hover-color: var(--color-dark));
            opacity: 0.54;
            font-family: var(--font-serif);
            font-size: var(--font-size-2);
            position: absolute;
            right: 1rem;
            transition: all 0.3s;
            white-space: nowrap;

            @include responsive.max(45rem) {
                font-size: clamp(var(--font-size-1), 4vw, var(--font-size-2));
                right: 0;
            }
            
            svg path {
                fill: var(--color-dark);
                opacity: 0.54;
                transition: all 0.3s;
            }
            
            svg {
                transform: rotate(180deg);
                right: 0;
                position: relative;
                transition: right 0.3s;
            }
    
            &:hover {
                opacity: 1;
    
                svg path {
                    fill: var(--color-accent-200);
                }

                svg {
                    right: 0;
                }

            }

        }

    }

    
    // Footer

    &__footer {
        padding-bottom: var(--section-gap);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__link {
            font-size: var(--font-size-2);
            font-size: clamp(var(--font-size-1), 2vw, var(--font-size-2));
            color: var(--color-dark-700);
            transition: all 0.8s;

            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 0%;
                background-color: var(--color-accent);
                margin-top: 3px;
                transition: all 0.8s;
            }
            
            &:hover {
                color: var(--color-dark);

                &::after {
                    width: 100%;
                }

                @include responsive.max(45rem) {

                    &::after {
                        display: none;
                    }
                    
                }
            }

        }

    }
}

// Gallery

.gallery {
    display: grid;
    gap: var(--gap-s);
    grid-auto-flow: row;
    justify-content: center;
    padding: 3rem 0 2rem 0;
    position: relative;
    
    &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &--pick-up::before {
            content: 'HOT !';
            font-size: 1rem;
            font-family: var(--font-sans);
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-accent);
            color: var(--color-light);
            height: 4rem;
            width: 4rem;
            position: absolute;
            left: 1rem;
            top: 2rem;
            border-radius: 99px;

            @include responsive.max(45rem) {
                font-size: var(--font-size-1);
                height: 2rem;
                width: 5rem;
             }
        }

        div, h3, p {
            transition: all 0.3s;
        }

        &:hover {

            div, h3, p {
                opacity: 1;
            }
            
        }
    }

    &__image {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__overlay,
    &__title,
    &__description {
        opacity: 0;
    }

    &__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__title {
        position: absolute;
        font-family: var(--font-sans);
        font-weight: 500;
        color: var(--color-light);

        &--s {
            font-size: var(--font-size-4);

            @include responsive.max(45rem) {
                font-size: clamp(var(--font-size-3), 6vw, var(--font-size-4));
             }
        }

        &--m {
            font-size: var(--font-size-5);
                        
            @include responsive.max(45rem) {
                font-size: clamp(var(--font-size-3), 6vw, var(--font-size-4));
             }
        }

        &--l {
            font-size: var(--font-size-6);
            
            @include responsive.max(45rem) {
                font-size: clamp(var(--font-size-3), 6vw, var(--font-size-4));
            }
        }

        &--xl {
            font-size: 5rem;
            top: 3rem;
            left: 2rem;
            
            @include responsive.max(62rem) {
                font-size: clamp(4rem, 10vw, 6rem);
                top: 6rem;
                left: 4rem;
             }
             
             @include responsive.max(45rem) {
                font-size: clamp(var(--font-size-3), 6vw, var(--font-size-4));
                top: auto;
                left: auto;
             }
        }
    }

    &__description {
        position: absolute;
        color: var(--color-light);
        font-size: var(--font-size-2);
        right: 0;
        bottom: 0;
        max-width: 18.75rem;
        width: 100%;
        padding: 0 1rem 1rem 0;

        @include responsive.max(62rem) {
            font-size: clamp(var(--font-size-2), 3vw, var(--font-size-3));
            right: 0;
            bottom: 0;
            max-width: 22rem;
            width: 100%;
            padding: 0 2rem 2rem 0;
        }

        @include responsive.max(45rem) {
            display: none;
        }
    }

}

.gallery-1 {
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    grid-auto-rows: 13rem;

    &__item:nth-of-type(1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    @include responsive.max(62rem) {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-auto-rows: 18rem;
    }
    
    @include responsive.max(45rem) {

        &__item:nth-of-type(1) {
            grid-column: auto;
            grid-row: auto;
        }
        
    }

}

.gallery-2 {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-rows: 18rem;

    &__item:nth-of-type(1),
    &__item:nth-of-type(2) {
        grid-column: span 3;
    }

    &__item:nth-of-type(3),
    &__item:nth-of-type(4),
    &__item:nth-of-type(5) {
        grid-column: span 2;
    }

    @include responsive.max(62rem) {
        grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
        grid-auto-rows: 16rem;
        gap: var(--gap-s) 0;
    }
    
}

.gallery-3 {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-auto-rows: 23rem;
    grid-auto-flow: dense;
    
    &__item:nth-of-type(2),
    &__item:nth-of-type(3) {
        grid-column: span 2;
    }

        @include responsive.max(62rem) {

            &__item:nth-of-type(2),
            &__item:nth-of-type(3) {
                grid-column: auto;
            }

        }

}